@import "tailwindcss";

.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.heart {
  /* Dimensions and color of the main square and circles */
  width: 100px;
  height: 100px;
  /* Rotate the main div 45 degrees to form the bottom point */
  transform: rotate(-45deg);
  background-color: #ff0000;
  /* Position relative is needed for absolute positioning of pseudo-elements */
  position: relative;
}

/* Create the two top circles */
.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  /* Make them circles */
  border-radius: 50%;
  
}

/* Position the first circle on top */
.heart::before {
  top: -50px;
  left: 0px;
}

/* Position the second circle on the left */
.heart::after {
  left: 50px;
  top: 0px;
}
